<html>
  <head>
    <title>Events</title>
  </head>
  <body>
    <div class="page">
      <div class="container">
        <h1>
          Login
        </h1>
        <hr />
          <form class="form" (ngSubmit)="OnButtonClick(fm)" #fm="ngForm">     
                <div class="col">
                    <mat-form-field>
                      <input matInput class="input" ngModel name="Username" required />      
                      <mat-placeholder class="placeholder">Username</mat-placeholder>         
                    </mat-form-field>       
                </div>
                <div class="col">
                    <mat-form-field>
                      <input matInput class="input" type="password" ngModel name="Password" required />
                      <mat-placeholder class="placeholder">Password</mat-placeholder>
                  </mat-form-field>
                </div>           
            <button mat-fab class="loginBtn" type="submit" [disabled]="fm.invalid" >Login</button>
          </form>

          <p>
            Not a member yet? <a href="registration-page">Register</a>
          </p>
      </div>
    </div>
</body>
</html>
