<div class="container">
  <h1>
    Welcome to Events!!
  </h1>
  <hr />
    <form (ngSubmit)="OnButtonClick(fm)" #fm="ngForm">
      <div class="form-group">
        <label for="name">Username:</label>
        <input type="text" class="form-control" ngModel #name="ngModel" name="Username" required />
        <div *ngIf="name.invalid && (name.dirty || name.touched)">
              <alert>Username is required</alert>
        </div>
      </div>
      <div class="form-group">
        <label for="price">Password:</label>
        <input type="password" class="form-control" ngModel name="Password">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="fm.invalid" >Login</button>
    </form>
</div>