.mat-toolbar{
    background: #001f3f !important;
    color:white !important;
}

.Sidenav{
    height: 1000px;
    width: 250px;
    background: #01366d ;
    color: white ;
}

.SidenavContent{
    margin: 2px;
    background: #01366d !important;
    color: white !important;
}

.content{
    color: #001f3f !important;
    float: left;
    margin-left:500px;
}

.ng-container{
    width: 100%;
}